<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar id="toolbar" color="primary" [class.mat-elevation-z8]="true">
  <mat-toolbar-row>
    <span>Stephen-Brad App</span>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <div style="position: absolute; right: 2%;">
      <div style="display: inline;">
        <button mat-button [matMenuTriggerFor]="menu">Menu</button>
        <mat-menu #menu="matMenu">
          <button routerLink="/form" mat-menu-item>Health Insurance Recommendation</button>
          <button mat-menu-item>Item 2</button>
        </mat-menu>
      </div>
      <div style="display: inline;">
        <button mat-button [matMenuTriggerFor]="profile">Profile</button>
        <mat-menu #profile="matMenu">
          <button mat-menu-item>Switch Profiles</button>
          <button mat-menu-item (click)="onSignOut()">Sign Out</button>
        </mat-menu>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<div style="height: 100%; background-color: white;">
  <app-sign-in></app-sign-in>
</div>

